<div>
  <h1>create your new recipe</h1>
  <%= form_with model: @recipe, url: '/recipes/' do |form|%>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: 'Name of recipe' %>
  </div>

  <div>
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.text_field :preparation_time, placeholder: 'Preparation Time' %>
  </div>

  <div>
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.text_field :cooking_time, placeholder: 'Preparation Time' %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description , placeholder: 'Description' %>
  </div>

  <div>
      <%= form.label :public, "Public" %>
      <%= form.check_box :public %>
  </div>

  <%= form.submit "Create recipe" %>
  <% end %>
</div>