<div>

<h3 class="text-center"><%= current_user.name %>'s Shopping List</h3>

<p class="text-center">Total Number of food items to buy: <span><strong><%= @recipe_foods.length %></strong></span>

  Total value of food items needed:
 <span><strong>$<%= @recipe_foods.map {|ingredient| ingredient.food.price * ingredient.quantity }.sum %></strong></span>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
    <tbody>
    <% @recipe_foods.each do |ingredient|%>
      <tr>
          <td><%= ingredient.food.name %></td>
          <td><%= ingredient.food.quantity %> <%= ingredient.food.measurement_unit %></td>
          <td><%= ingredient.food.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>